html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #9f1833;
  min-height: 100vh;
  background: linear-gradient(to top, #232526, #414345);
  background-size: cover;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Curtains */
.open {
  position: fixed;
  width: 150px;
  padding: 20px 20px 17px;
  color: #e4e4e4;
  cursor: pointer;
  right: 0;
  bottom: 0;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 1;
  z-index: 10;
}

.curtain {
  position: absolute;
  top: -10%;
  height: 120%;
  width: 50%;
  z-index: 1;
  transition: all 3s ease-out 0s;
  transform: rotate(0deg);
}
.curtain.-left {
  left: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #9f1833, #c04b4b, #9f1833), linear-gradient(to left, #bf4949, #8c0000, #bf4949);
  background-size: 17% 17%, 14% 14%;
}
.curtain.-right {
  right: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #9f1833, #c04b4b, #9f1833), linear-gradient(to left, #bf4949, #8c0000, #bf4949);
  background-size: 17% 17%, 14% 14%;
}
.open-curtains .curtain.-left {
  left: -16%;
  width: 10%;
  transform: rotate(7deg);
}
.open-curtains .curtain.-right {
  right: -16%;
  width: 10%;
  transform: rotate(-7deg);
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

body {
  background-color: #111;
  background-image: url("bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-shadow:
    0 0 5px rgb(10, 10, 10),
    0 0 10px rgb(7, 7, 7),
    0 0 20px rgb(19, 18, 18),
    0 0 40px rgb(4, 70, 70),
    0 0 80px rgb(2, 37, 37),
    0 0 90px rgb(4, 59, 59),
    0 0 100px rgb(4, 51, 51),
    0 0 150px rgb(2, 48, 48);
  text-align: center;
  width: 100vw;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#fly-in {
  font-size: 4em;
  margin: 40vh auto;
  height: 20vh; 
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: fixed; 
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}

.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  transition: opacity 0.3s ease;
}

.description a {
  color: #4A9DF6;
  text-decoration: none;
}

.btn.is-open ~ .description {
  opacity: 0;
}

.btn {
  display: block;
  position: relative;
  width: 200px;
  height: 80px;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #36f436;
  color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-front:hover {
  background-color: #f77066;
}

.btn.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}

.btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
}

.btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
}

.btn-back button {
  padding: 12px 20px;
  width: 30%;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease;
}
.btn-back button:focus {
  outline: 0;
}
.btn-back button.yes {
  background-color: #2196F3;
  color: #fff;
}
.btn-back button.yes:hover {
  background-color: #51adf6;
}
.btn-back button.no {
  color: #2196F3;
}
.btn-back button.no:hover {
  background-color: #ddd;
}

.btn.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.btn[data-direction=left] .btn-back,
.btn[data-direction=right] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.btn.is-open {
  width: 400px;
  height: 160px;
}

.btn[data-direction=top].is-open {
  transform: rotateX(180deg);
}

.btn[data-direction=right].is-open {
  transform: rotateY(180deg);
}

.btn[data-direction=bottom].is-open {
  transform: rotateX(-180deg);
}

.btn[data-direction=left].is-open {
  transform: rotateY(-180deg);
}